ion-content {
    border-top: 4px solid var(--ion-color-primary);
    .category-info {
        p {
            color: #fff;
            font-size: 24px;
            font-weight: 600;
            width: 100%;
            margin-bottom: 0;
            padding: 0 16px;
        }
        .dismiss {
            position: fixed;
            right: 30px;
            top: 30px;
            font-size: 35px;
            float: right;
            z-index: 1;
            color: #fff;
        }
    }
    
    ion-card {
        margin-top: 20px;
    }
}