<ion-content>
    <div class="category-info">
        <p>{{categoryTitle}}</p>
        <ion-icon name="close-circle-outline" size="large" class="dismiss"  (click)="dismiss()"></ion-icon>
    </div>
    
    <div class="list-card">
        <ion-card *ngFor="let event of events" (click)="showDetails(event)">
            <ion-img [src]="event.thumbnail"></ion-img>
            <ion-card-content>
                <ion-card-title>{{event.title}}</ion-card-title>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
