<ion-header no-shadow no-border>
    <ion-toolbar [color]="toolbarColor">
        <p class="title"></p>
        <ion-icon name="close-circle-outline" class="settings_menu" (click)="dismiss()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="category-info">
        <p>{{category.title}}</p>
    </div>
    
    <div class="list-card">
        <ion-card *ngFor="let event of events" (click)="showDetails(event)">
            <ion-img [src]="event.thumbnail"></ion-img>
            <ion-card-content>
                <ion-card-title>{{event.title}}</ion-card-title>
            </ion-card-content>
        </ion-card>
    </div>

    <div *ngIf="previousEvents.length > 0" class="list-card">
        <p class="title" margin-top>Confira o que já rolou...</p>
    
        <ion-card *ngFor="let event of previousEvents" (click)="showDetails(event)">
            <ion-img [src]="event.thumbnail"></ion-img>
            <ion-card-content>
            <ion-card-title>{{event.title}}</ion-card-title>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
