<ion-header>
    <ion-toolbar [color]="toolbarColor">
        <ion-icon name="help-circle-outline" class="settings_menu" (click)="settings_menu()"></ion-icon>
        <ion-img src="assets/img/logo.png" class="logo"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Puxe para atualizar"
            refreshingSpinner="circles"
            refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>
    
    <div class="app-content">
        <p class="title">Em cada cidade</p>

        <div class="city" *ngFor="let city of cities">
            <p class="title city-title">{{city.title}}</p>
            
            <ion-slides [options]="sliderConfig">
                <ng-container *ngFor="let event of events">
                    <ion-slide *ngIf="event.city.slug == city.slug" (click)="showDetails(event)">
                        <ion-card>
                            <ion-img [src]="event.thumbnail"></ion-img>
                        </ion-card>
                        <p class="event-title" text-left>{{event.title}}</p>
                    </ion-slide>
                </ng-container>
            </ion-slides>
        </div>
    </div>
</ion-content>
