<app-header></app-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Puxe para atualizar"
            refreshingSpinner="circles"
            refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>
    
    <div class="app-content">
        <p class="title">Eventos por cidade</p>

        <div class="city" *ngFor="let city of cities">
            <p class="title city-title">{{city.title}}</p>
            
            <ion-slides [options]="sliderConfig">
                <ion-slide *ngFor="let event of city.events"(click)="showDetails(event)">
                    <ion-card>
                        <ion-img [src]="event.image"></ion-img>
                    </ion-card>
                    <p class="event-title" text-left>{{event.title}}</p>
                </ion-slide>
            </ion-slides>
        </div>
    </div>
</ion-content>
