<ion-header>
    <ion-toolbar [color]="toolbarColor">
        <ion-icon name="help-circle-outline" class="settings_menu" (click)="settings_menu()"></ion-icon>
        <ion-img src="assets/img/logo-white.png" class="logo"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="app-content">
        <p class="title">Em cada cidade</p>

        <div class="city" *ngFor="let city of cities">
            <p class="title city-title">{{city.title}}</p>

            <ng-container *ngFor="let event of events">
            <ion-slides [options]="sliderConfig" *ngIf="event.city.slug == city.slug">
                <ion-slide (click)="showDetails(event)">
                <ion-card>
                    <ion-img [src]="event.thumbnail"></ion-img>
                </ion-card>
                <p class="event-title" text-left>{{event.title}}</p>
                </ion-slide>
            </ion-slides>
            </ng-container>
        </div>
    </div>
</ion-content>
