<ion-content>
    <ion-slides pager="true" parallax="true">

        <ion-slide style="background:url('assets/img/walkthrough/background-1.png');">
            <img src="assets/img/walkthrough/intro-1.png">
        </ion-slide>

        <ion-slide style="background:url('assets/img/walkthrough/background-2.png');">
            <img src="assets/img/walkthrough/intro-2.png">
        </ion-slide>

        <ion-slide style="background:url('assets/img/walkthrough/background-3.png');">
            <img src="assets/img/walkthrough/intro-3.png">
        </ion-slide>

        <ion-slide style="background:url('assets/img/walkthrough/background-4.png');">
            <img src="assets/img/walkthrough/intro-4.png">

        </ion-slide>

        <ion-slide style="background:url('assets/img/walkthrough/background-5.png');">
            <ion-row>
                <ion-col>
                    <img src="assets/img/walkthrough/intro-5.png">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <button ion-button (click)="goHome()">Acessar</button>
                </ion-col>
            </ion-row>
        </ion-slide>

    </ion-slides>
</ion-content>