ion-slides {
    height: 100%;
    ion-slide {
        background-size: cover !important;
        padding: 0;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
        button {
            border: none;
            padding: 12px 30px;
            font-size: 14px;
            color: #fff;
            font-weight: 800;
            text-transform: uppercase;
            border-radius: 6px;
            background: #ff9300;
        }
    }
}
