<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="next-events">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Próximos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="featured">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Destaques</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="today">
      <ion-icon name="send"></ion-icon>
      <ion-label>Hoje</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="send"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
