<ion-header>
    <ion-toolbar [color]="toolbarColor">
        <ion-icon name="help-circle-outline" class="settings_menu" (click)="settings_menu()"></ion-icon>
        <ion-img src="assets/img/logo.png" class="logo"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="app-content">
        <div class="categories">
            <ion-card *ngFor="let category of categories" (click)="showEvents(category)">
                <ion-card-content>
                    <ion-card-title>{{category.title}}</ion-card-title>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>
