.categories {
    margin-top: 30px;

    .sc-ion-card-ios-h,
    .sc-ion-card-md-h {
        margin: 16px;
        border-radius: 8px;

        .card-content-ios,
        .card-content-md {
            background: var(--shadow);
            padding: 20px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            
            ion-card-title,
            ion-icon {
                color: #fff;
                font-size: 26px;
                font-weight: 600;
            }
        }
    }
}