<app-header></app-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Puxe para atualizar"
            refreshingSpinner="circles"
            refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>
    
    <div class="app-content">
        <div class="categories">
            <ion-card *ngFor="let category of categories" (click)="showEvents(category)">
                <ion-card-content>
                    <ion-card-title>{{category.title}}</ion-card-title>
                    <ion-icon name="arrow-forward" slot="end"></ion-icon>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>
