<ion-header>
    <ion-toolbar [color]="toolbarColor">
        <app-settings-menu></app-settings-menu>
        <ion-img src="assets/img/logo.png" class="logo"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Puxe para atualizar"
            refreshingSpinner="circles"
            refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>
        
    <div class="app-content">
        <div *ngIf="featuredEvents.length > 0">
            <p class="title">Eventos em destaque</p>
        
            <ion-slides [options]="sliderConfig">
                <ion-slide *ngFor="let event of featuredEvents" (click)="showDetails(event)">
                <ion-card>
                    <ion-img [src]="event.image"></ion-img>
                </ion-card>
                <p class="event-title" text-left>{{event.title}}</p>
                </ion-slide>
            </ion-slides>
        </div>
    
        <div *ngIf="trendingEvents.length > 0" class="list-card">
            <p class="title" margin-top>Confira o que está em alta</p>
        
            <ion-card *ngFor="let event of trendingEvents" (click)="showDetails(event)">
                <ion-img [src]="event.image"></ion-img>
                <ion-card-content>
                <ion-card-title>{{event.title}}</ion-card-title>
                </ion-card-content>
            </ion-card>
        </div>

        <div *ngIf="previousEvents.length > 0" class="list-card">
            <p class="title" margin-top>Confira o que já rolou...</p>
        
            <ion-card *ngFor="let event of previousEvents" (click)="showDetails(event)">
                <ion-img [src]="event.image"></ion-img>
                <ion-card-content>
                <ion-card-title>{{event.title}}</ion-card-title>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>
  