<ion-header>
    <ion-toolbar [color]="toolbarColor">
        <ion-icon name="help-circle-outline" class="settings_menu" (click)="settings_menu()"></ion-icon>
        <ion-img src="assets/img/logo.png" class="logo"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="app-content">
        <div *ngIf="featuredEvents.length > 0">
            <p class="title">Destaques</p>
        
            <ion-slides [options]="sliderConfig">
                <ion-slide *ngFor="let event of featuredEvents" (click)="showDetails(event)">
                <ion-card>
                    <ion-img [src]="event.thumbnail"></ion-img>
                </ion-card>
                <p class="event-title" text-left>{{event.title}}</p>
                </ion-slide>
            </ion-slides>
        </div>
    
        <div *ngIf="trendingEvents.length > 0" class="list-card">
            <p class="title" margin-top>Em alta</p>
        
            <ion-card *ngFor="let event of trendingEvents" (click)="showDetails(event)">
                <ion-img [src]="event.thumbnail"></ion-img>
                <ion-card-content>
                <ion-card-title>{{event.title}}</ion-card-title>
                </ion-card-content>
            </ion-card>
        </div>

        <div *ngIf="previousEvents.length > 0" class="list-card">
            <p class="title" margin-top>Confira o que já aconteceu...</p>
        
            <ion-card *ngFor="let event of previousEvents" (click)="showDetails(event)">
                <ion-img [src]="event.thumbnail"></ion-img>
                <ion-card-content>
                <ion-card-title>{{event.title}}</ion-card-title>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>
  