// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/** app **/
ion-app {
    background-color: var(--dark);
}

/** header **/

ion-header {
    ion-toolbar {
        .logo {
            width: 50%;
            padding: 30px 20px 10px 20px;
        }
    }
}

.settings_menu {
    position: fixed;
    z-index: 3;
    right: 30px;
    top: 35px;
    font-size: 35px;
    color: #fff;
    mix-blend-mode: difference;
}

/** content **/

ion-content {
    --ion-background-color:var(--dark);
    .title {
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        width: 100%;
        margin-bottom: 0;
        padding: 1px 16px 0 16px;
    }
}

/** tab bar **/

ion-tab-bar {
    --background:var(--dark);
    height: 55px;
    ion-icon {
        margin: 0;
        font-size: 30px;
    }
}

/** slide **/

ion-slide {
    flex-direction: column;
    padding: 0 16px;
    .sc-ion-card-ios-h,
    .sc-ion-card-md-h {
        height: 200px;
        width: 100%;
        margin-bottom: 0;
        border-top: 4px solid var(--ion-color-primary);
        ion-img {
            height: 100%;
            object-fit: cover;
        }
    }
    .event-title {
        margin: 10px 0 25px 0;
        padding: 0 10px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        width: 100%;
    }
}

/** list card **/

.list-card {
    ion-card {
        .card-content-ios,
        .card-content-md {
            margin-top: -4px;
            padding: 8px 12px;
            background: var(--ion-color-primary);
            ion-card-title {
                font-size: 16px;
                font-weight: 600;
                color: #fff;
            }
        }
        ion-img {
            height: 250px;
            object-fit: cover;
        }
    }
}