// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/** header **/

.header {
    background-image: url(assets/img/header-background.png);
    background-size: cover;
    background-position: center;
    height: 115px;
    margin-bottom: 20px;
    .logo {
        width: 180px;
        height: fit-content;
        padding: 45px 16px 0 16px;
    }
}

/** content **/

ion-content {
    --ion-background-color:var(--dark);
    .title {
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        width: 100%;
        margin-bottom: 0;
        padding: 0 16px;
    }
}

/** tab bar **/

ion-tab-bar {
    --background:var(--dark);
}

/** slide **/

ion-slide {
    flex-direction: column;
    .sc-ion-card-ios-h,
    .sc-ion-card-md-h {
        margin-bottom: 0;
        height: 200px;
        border-top: 4px solid var(--ion-color-primary);
        ion-img {
            height: 100%;
            object-fit: cover;
        }
    }
    .event-title {
        margin: 10px 0 25px 0;
        padding: 0 16px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        width: 100%;
    }
}

/** list card **/

.list-card {
    ion-card {
        ion-img {
            max-height: 300px;
            object-fit: cover;
        }
        .card-content-ios,
        .card-content-md {
            padding: 8px 12px;
            background: var(--ion-color-primary);
            ion-card-title {
                font-size: 16px;
                font-weight: 600;
                color: #fff;
            }
        }
    }
}