ion-toolbar {
    position: absolute;
    --background: transparent;
    --ion-color-base: transparent !important;
    .title {
        height: 50px;
    }
}
.toolbar-background {
    border: none;
}
.dismiss {
    position: fixed;
    right: 30px;
    top: 35px;
    font-size: 35px;
    color: #fff;
    mix-blend-mode: difference;
    z-index: 1;
}
.featured-image {
    height: 50%;
    object-fit: cover;
}
.content {
    position: relative;
    .item {
        display: flex;
        align-items: flex-start;
        ion-img {
            width: 20px;
            margin-right: 10px;
            margin-top: 4px;
        }
        div {
            flex: 1;
            .link {
                color: #3880ff;
                font-size: 16px;
                text-decoration: none;
            }
            span {
                color: var(--ion-color-primary);
                font-size: 14px;
                font-weight: 600;
            }
            p {
                margin: 0;
                color: #fff;
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
    .add-to-calendar {
        margin: 20px 16px 30px 16px;
    }
    .social-sharing {
        position: absolute;
        top: -35px;
        width: 100%;
        display: flex;
        justify-content: center;
        ion-icon {
            font-size: 28px;
            background: #fff;
            padding: 6px;
            border-radius: 50%;
            margin: 0 10px;
            box-shadow: -1px 1px 1px 0px #23232369;
            &.whatsapp {
                color: #25d366;
            }
            &.facebook {
                color: #3b5998;
            }
            &.twitter {
                color: #1da1f2;
            }
            &.mail {
                color: #657786;
            }
        }
    }
}
