<ion-content>
    <ion-icon name="close-circle-outline" class="dismiss" (click)="dismiss()"></ion-icon>
    <ion-img [src]="event.image" class="featured-image"></ion-img>
    
    <div class="content">
        <div class="social-sharing">
            <ion-icon name="logo-whatsapp" class="whatsapp" (click)="shareWhatsApp()"></ion-icon>
            <ion-icon name="logo-facebook" class="facebook" (click)="shareFacebook()"></ion-icon>
            <ion-icon name="logo-twitter" class="twitter" (click)="shareTwitter()"></ion-icon>
            <ion-icon name="mail" class-="mail" (click)="shareEmail()"></ion-icon>
        </div>

        <div class="title" *ngIf="event.title.length > 0" margin>
            <div>
                <p>{{event.title}}</p>
            </div>
        </div>
        <div class="item" *ngIf="event.about.length > 0" margin>
            <ion-img src="assets/icon/info.png"></ion-img>
            <div>
                <span>Descrição</span>
                <p>{{event.about}}</p>
            </div>
        </div>
        <div class="item" *ngIf="event.date.length > 0" margin>
            <ion-img src="assets/icon/date.png"></ion-img>
            <div>
                <span>Data</span>
                <p>{{event.date}}</p>
            </div>
        </div>
        <div class="item" *ngIf="event.price.length > 0" margin>
            <ion-img src="assets/icon/price.png"></ion-img>
            <div>
                <span>Preço</span>
                <p>{{event.price}}</p>
            </div>
        </div>
        <div class="item" *ngIf="event.address.length > 0" margin>
            <ion-img src="assets/icon/address.png"></ion-img>
            <div>
                <span>Endereço</span>
                <p>{{event.address}}</p>
            </div>
        </div>
        <div class="item" *ngIf="event.where_to_buy.title.length > 0" margin>
            <ion-img src="assets/icon/ticket.png"></ion-img>
            <div>
                <span>Onde comprar</span>
                <p>{{event.where_to_buy.title}}</p>
                <p class="link" (click)="openUrl(event.where_to_buy.url)">Ir para o site</p>
            </div>
        </div>
        <div class="item" *ngIf="event.contact.length > 0" margin>
            <ion-img src="assets/icon/phone.png"></ion-img>
            <div>
                <span>Informações</span>
                <p>{{event.contact}}</p>
            </div>
        </div>
    </div>
</ion-content>
  