<ion-content>

  <div class="header">
    <ion-img src="assets/img/logo-white.png" class="logo"></ion-img>
  </div>

  <div *ngIf="todayEvents.length > 0">
    <p class="title">Hoje</p>

    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let event of todayEvents" (click)="showDetails(event)">
        <ion-card>
          <ion-img [src]="event.image"></ion-img>
        </ion-card>
        <p class="event-title" text-left>{{event.title}}</p>
      </ion-slide>
    </ion-slides>
  </div>

  <div *ngIf="nextEvents.length > 0" class="list-card">
    <p class="title" margin-top>Próximos</p>

    <ion-card *ngFor="let event of nextEvents" (click)="showDetails(event)">
      <ion-img [src]="event.image"></ion-img>
      <ion-card-content>
        <ion-card-title>{{event.title}}</ion-card-title>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
