<ion-header>
    <ion-toolbar [color]="toolbarColor">
        <ion-icon name="help-circle-outline" class="settings_menu" (click)="settings_menu()"></ion-icon>
        <ion-img src="assets/img/logo.png" class="logo"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="app-content">
        <div *ngIf="todayEvents.length > 0">
            <p class="title">Hoje</p>

            <ion-slides [options]="sliderConfig">
            <ion-slide *ngFor="let event of todayEvents" (click)="showDetails(event)">
                <ion-card>
                <ion-img [src]="event.thumbnail"></ion-img>
                </ion-card>
                <p class="event-title" text-left>{{event.title}}</p>
            </ion-slide>
            </ion-slides>
        </div>

        <div *ngIf="nextEvents.length > 0" class="list-card">
            <p class="title">Próximos</p>

            <ion-card *ngFor="let event of nextEvents" (click)="showDetails(event)">
            <ion-img [src]="event.thumbnail"></ion-img>
            <ion-card-content>
                <ion-card-title>{{event.title}}</ion-card-title>
            </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>
